POSTGRES_DB=civic_operations
POSTGRES_USER=civic_ops
POSTGRES_PASSWORD=civic_ops_dev
POSTGRES_PORT=5432
RABBITMQ_USER=civic_ops
RABBITMQ_PASSWORD=civic_ops_dev
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
