@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap")
layer(base);

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-outfit: Outfit, sans-serif;

  --color-brand-50: #ecf3ff;
  --color-brand-100: #dde9ff;
  --color-brand-300: #9cb9ff;
  --color-brand-400: #7592ff;
  --color-brand-500: #465fff;
  --color-brand-600: #3641f5;
  --color-brand-700: #2a31d8;
  --color-brand-800: #252dae;

  --color-blue-light-50: #f0f9ff;
  --color-blue-light-400: #36bffa;
  --color-blue-light-500: #0ba5ec;
  --color-blue-light-700: #026aa2;

  --color-success-50: #ecfdf3;
  --color-success-200: #abefc6;
  --color-success-300: #75e0a7;
  --color-success-400: #47cd89;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;

  --color-warning-50: #fffaeb;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;

  --color-error-50: #fef3f2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;

  --shadow-theme-xs: 0 1px 2px 0 rgb(16 24 40 / 0.05);
  --shadow-theme-sm:
    0 1px 3px 0 rgb(16 24 40 / 0.1), 0 1px 2px -1px rgb(16 24 40 / 0.1);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  body {
    @apply relative bg-gray-50 font-outfit font-normal text-gray-900 dark:bg-gray-900;
  }
}

@utility menu-item {
  @apply relative flex w-full items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium;
}

@utility menu-item-active {
  @apply bg-brand-50 text-brand-500 dark:bg-brand-500/12 dark:text-brand-400;
}

@utility menu-item-inactive {
  @apply text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-white/5;
}

@utility menu-item-icon-size {
  & svg {
    @apply size-6;
  }
}
